.squarecontainer{
    /* display: flex;
    align-items: center; */
    width: 60px;
    height: 60px;

}
.square{
    height: 55px;
    width: 55px;
    margin: 1px;
   
 
  
    /* align-content: center; */
}
.dead{
    background-color: rgb(208, 233, 66);
}
.live{
    background-color: blue;
}